@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body, html {
    background-color: rgba(211, 211, 211, 0.253);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(148, 148, 148);
}
header h1 {
    text-align: center;
    padding: 10px;
}

i#burger {
    background-color: rgb(48, 48, 48);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

i#burger:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    border-top: 2px solid gray;
    background-color: rgb(87, 87, 87);
}

menu > ul > li > a:hover {
    background-color: rgba(128, 128, 128, 0.447)
}

main {
    background-color: white;
    width: 90vw;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
}

article > p {
    padding: 10px;
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 20px;
}

article > h2 {
    padding-bottom: 10px;
}