@charset "UTF-8";

@font-face {
    font-family: 'Passion_One';
    src: url('../fonts/Passion_One/PassionOne-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Sriracha';
    src: url('../fonts/Sriracha/Sriracha-Regular.ttf') format('truetype');
    font-weight: normal;
}

:root {
    --fonte0: Verdana, Tahoma, Geneva, sans-serif;
    --fonte1: 'Passion_One';
    --fonte2: 'Sriracha';
}

* {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: black;
    color: white;
    font-family: var(--fonte1);
    font-variant: small-caps;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    font-size: 3.5vw;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

html, body {
    min-height: 100vh;
    font-family: var(--fonte0);
    background-color: darkgray;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte2);
    font-size: 3.5vh;
}

section > p {
    padding-bottom: 2em;
    text-indent: 30px;
}

section > h2 {
    padding-bottom: 2em;
    font-family: var(--fonte1);
}

section > ul {
    padding-left: 60px;
}

section.normal {
    background-color: white;
    color: black;

}

section.imagem {
   background-color: rgb(51, 51, 51); 
   color: white;
   box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.478);
   background-size: cover;
   background-attachment: fixed;

}
section#img1 {
    background-image: url('../imagens/licenciado.jpg');
}

section#img2 {
    background-image: url('../imagens/gratidao.jpg');
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.505);
    padding: 5px;
    text-shadow: 2px 2px 0px black;

}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}