@charset "UTF-8";

/* Todas as demais medias 
Typical Divice Breakpoints
--------------------------
Pequenas telas: Até 600px
celaluar: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
TV: acima de 1200px
Grandes telas: acima de 1200px

*/

@media print { /* Impressora */
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../imagens/back-print.jpg);
        background-size: cover;
        background-position: center center;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }
    main {
        border: 2px solid black;
        width: 90vw;
    }
    main::after {
        content: 'Esta impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }
    
    img#phone {
        display: none;
    }
    img#tablet {
        display: none;
    }
    img#print {
        display: block;
    }
    img#pc {
        display: none;
    }
    img#tv {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){ /* Tablet */
    body {
        background-image: url(../imagens/back-tablet.jpg);
        background-size: cover;
        background-position: center center;
    }
    img#phone {
        display: none;
    }
    img#tablet {
        display: block;
    }
    img#print {
        display: none;
    }
    img#pc {
        display: none;
    }
    img#tv {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Computador */
    body {
        background-image: url(../imagens/back-pc.jpg);
        background-size: cover;
        background-position: center center;
    }
    img#phone {
        display: none;
    }
    img#tablet {
        display: none;
    }
    img#print {
        display: none;
    }
    img#pc {
        display: block;
    }
    img#tv {
        display: none;
    }
}

@media screen and (min-width: 1200px) { /* Grandes Telas, TV */
    body {
        background: url(../imagens/back-tv.jpg);
        background-size: cover;
        background-position: center center;
    }
    main {
        width: 700px;
    }
    img#phone {
        display: none;
    }
    img#tablet {
        display: none;
    }
    img#print {
        display: none;
    }
    img#pc {
        display: none;
    }
    img#tv {
        display: block;
    }
}